.segment-one p{
    color:#999;
    
}
.segment-one h2,h3{
    color:#fff;
}
.segment-one h2{
    font-size: 18px;
}

.footer-top{
    background: #111;
    padding: 1px 0;
}
.segment-one h3{
    font-family: courgette;
    color:#fff;
    letter-spacing: 3px;
    margin: 10px 0;
}
.segment-two h2{
    color:#fff;
    font-family: poppins;
    text-transform: uppercase;
}
.segment-two h2::before{
    content: '|';
    color: #c65039;
    padding-right: 10px;
}
.segment-two ul{
    margin: 0;
    padding : 0;
    list-style: none;
}
.segment-two ul li{
    border-bottom: 1px solid rgba(255,255,255,0.3);
    line-height: 40px;
}
.segment-two ul li a{
    color: #999;
    text-decoration: none;
}
.segment-one a i{
    font-size: 20px;
    color: #fff;
    padding : 5px 12px;
    line-height: 10px;
}
.segment-one p a {
    color: #999;
    text-decoration: none;
    
}
.segment-three ul{
    margin: 0;
    padding : 0;
    list-style: none;
}
.segment-three ul li{
    border-bottom: 1px solid rgba(255,255,255,0.3);
    line-height: 40px;
}
.segment-three ul li a{
    color: #999;
    text-decoration: none;
}
.segment-three h2{
    color: #fff;
    font-family: poppins;
    text-transform: uppercase;
}
.segment-three h2::before{
    content: '|';
    color: #c65039;
    padding-right: 10px;
}
.segment-four a{
    background: #494848;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}
.segment-four a i{
    font-size: 20px;
    color: #fff;
    padding : 10px 12px;
}
.segment-four h2{
    color: #fff;
    font-family: poppins;
    text-transform: uppercase;
}
.segment-four h2::before{
    content: '|';
    color: #c65039;
    padding-right: 10px;
}
.footer-bottom-text{
    text-align: center;
    background: #000;
    line-height: 15px;
}
/* responsive */
@media only screen and (min-width: 768px) and (max-width: 991px){
    .md-mb-30{
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 767px){
    .sm-mb-30{
        margin-bottom:30px;
    }
    .footer-top{
        padding: 50px 0;
    }
}